body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.navMenu {
    overflow: hidden;
    background-color: #111;
}
  
.navMenu a {
    float: left;
    color: whitesmoke;
    text-align: center;
    width: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    font-size: 3vw;
}

.navMenu {
    background-color: #888;
    color: black;
}
  
a:active {
    background-color: #04AA6D;
    color: white;
}
a:hover{
    background-color: lightcyan;
    color: black;
}
.otherDiv {
    padding-left: 2%;
}
.header {
    font-size: 4vw;
}
.logo img {
    width: 50%;
}