@font-face { 
    font-family: Orbitron-Black;
    src: url(Fonts/Orbitron/Orbitron-Black.ttf);
}
 /* Font for nav bar */


*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
/*  general styles  */

body {
    background-color: black ;
    color: white;
}
h1 {
    font-family: Orbitron-Black;
}
h1, p { 
    text-align: center;
}
table {
    visibility: hidden;
 }

/* temporary styles */